<header>
      <div class="container">
        <div class="header-left">
          LinguaLeap
        </div>
        <div class="header-right">
          <ul>
            <li>新規投稿</li>
            <li>フレーズ一覧</li>
            <li>
              <form id="form1" action="自分のサイトURL" method="get">
              <input id="sbox1" name="s" type="text" placeholder="" />
              <input id="sbtn1" type="submit" value="検索" /></form>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <div class="top">
      <div class="container">
        <h1>Sound like a native speaker</h1>
        <p>LinguaLeapはネイティブスピーカーのような英語表現を習得するための学習サイトです。</p>
        <p>みなさんが出会ったフレーズを投稿しあい、お互いの英語学習をサポートし合いましょう！</p>
      </div>
    </div>